<html>

<head>
    <title>Map</title>
    <meta charset="UTF-8">
    <script src="vue.min.js"></script>
</head>

<body>
    <div id="app" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; display: flex;">
        <div style="background-color: #DDDDDD; min-width: 200px; max-width: 200px; display: flex; flex-direction: column; padding: 10px; border-top-left-radius: 20px;">
            <div>{{"X : " + mouseMap.left}}</div>
            <div>{{"Z : " + mouseMap.top}}</div>
            <div>{{"x : " + area.x}}</div>
            <div>{{"z : " + area.z}}</div>
            <form v-on:submit="searchArea(search.x, search.z, $event)">
              <div>X<input v-model="search.x" style="width: 80px" type="number"></input>Z<input v-model="search.z" style="width: 80px" type="number"></input></div>
              <button v-on:click="searchArea(search.x, search.z)">Recherche</button>
            </form>
            <div>{{"Territoire : " + area.name}}</div>
            <div style="width: 20px; height: 20px; border-style: solid;" v-bind:style="{backgroundColor: area.color}"></div>
            <div>{{"Leader : " + area.leader}}</div>
            <button v-on:click="toggleGrid">Grille</button>
            <button v-on:click="toggleControl">Régions</button>
        </div>
        <div id="mapCnt" style="overflow: auto; display: flex; flex: 1;">
            <div id="map" style="min-width: 850px; width: 850px; height: 850px; display: flex; background-image: url('map.png'); background-size: 100% 100%;"
                @mousemove="updateMouseMap">
                <div style="display: flex; flex: 1; flex-direction: column;" v-for="x in map">
                    <div style="display: flex; flex: 1; border-width: 1px; border-style: solid; border-color: white;" v-for="z in map" v-bind:style="{ borderWidth: border, backgroundColor: getColor(x, z), opacity: 0.4}" @mouseover="updateArea(x, z)" v-on:click="updateArea(x, z)"></div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="utils.js"></script>
    <script type="text/javascript" src="map.js"></script>
</body>
