<html>

<head>
    <title>Map</title>
    <meta charset="UTF-8">
    <script src="vue.min.js"></script>
</head>

<body>
  <div id="app" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; display: flex; flex-direction: column; flex: 1;">
    <div style="display: flex; flex: 1; max-height: 40px;">
      <button v-on:click="setRoute(button)" style="display: flex; flex: 1; max-width: 100px; align-items: center; justify-content: center;" v-for="button in navBar">{{button}}</button>
    </div>
    <div v-if="route === 'Nations'" style="display: flex; flex: 1; flex-direction: column; overflow: auto;">
      <div v-on:click="setNavNation(nation.name)" v-for="nation in nations" style="height: 100px; width: 400px; background-color: #DDDDDD; border-radius: 10px; margin-top: 5px; display: flex; flex-direction: column; overflow: hidden; cursor: pointer;" >
        <div v-bind:style="{backgroundColor: nation.color, height: '10px', opacity: 0.7 }"></div>
        <div style="padding: 5px;">
          <div>{{nation.name}}</div>
          <div>Leader : {{nation.leader}}</div>
          <div>Soutiens: {{nation.soutiens}}</div>
        </div>
      </div>
    </div>
    <div v-if="route === 'Nation' && navNation !== null" style="display: flex; flex: 1; flex-direction: column; background-color: #DDDDDD; border-radius: 20px; overflow: hidden; margin: 5px;">
      <div v-bind:style="{ backgroundColor: nation.color, opacity: 0.7, minHeight: '20px', maxHeight: '20px', display: 'flex', flex: 1 }"></div>
      <div style="display: flex; flex: 1; flex-direction: column; overflow: hidden; padding: 10px;">
        <h1>{{nation.name}}</h1>
        <div>Leader : {{nation.leader}}</div>
        <div>Etendue : {{nation.areas.length * 0.178}} km2</div>
        <div style="display: flex; flex-direction: column; margin: 20px; flex: 1; overflow: hidden;">
          <div><button v-on:click="navNationPanel('desc')">Description</button><button v-on:click="navNationPanel('soutiens')">Soutiens</button></div>
          <div v-if="nav.nationPanel === 'desc'" v-html="nation.description" style="display: flex; flex: 1; flex-direction: column; word-break: break-all; padding: 10px; background-color: white; overflow: auto;"></div>
          <div v-if="nav.nationPanel === 'soutiens'" style="display: flex; flex: 1; background-color: white;">
            <div v-for="soutien in nation.soutiens" style="display: flex; flex: 1; backgroundColor: #DDDDDD; border-radius: 10px; padding: 10px; height: 50px; margin: 5px; flex-direction: column;">
              <div>{{soutien.name}}</div>
              <div>Rang {{soutien.rank}} dans sa liste d'appuis.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="route === 'Map'" style="display: flex; flex: 1;">
        <div style="background-color: #DDDDDD; min-width: 200px; max-width: 200px; display: flex; flex-direction: column; padding: 10px; border-top-left-radius: 20px;">
            <div>{{"X : " + mouseMap.left}}</div>
            <div>{{"Z : " + mouseMap.top}}</div>
            <div>{{"x : " + area.x}}</div>
            <div>{{"z : " + area.z}}</div>
            <form v-on:submit="searchArea(search.x, search.z, $event)">
              <div>X<input v-model="search.x" style="width: 80px" type="number"></input>Z<input v-model="search.z" style="width: 80px" type="number"></input></div>
              <button v-on:click="searchArea(search.x, search.z)">Recherche</button>
            </form>
            <div>{{"Territoire : " + area.name}}</div>
            <div style="width: 20px; height: 20px; border-style: solid;" v-bind:style="{backgroundColor: area.color}"></div>
            <div>{{"Leader : " + area.leader}}</div>
            <button v-on:click="toggleGrid">Grille</button>
            <button v-on:click="toggleControl">Régions</button>
        </div>
        <div id="mapCnt" style="overflow: auto; display: flex; flex: 1;">
            <div id="map" style="min-width: 850px; width: 850px; height: 850px; display: flex; background-image: url('map.png'); background-size: 100% 100%;"
                @mousemove="updateMouseMap">
                <div style="display: flex; flex: 1; flex-direction: column;" v-for="x in map">
                    <div style="display: flex; flex: 1; border-width: 1px; border-style: solid; border-color: white;" v-for="z in map" v-bind:style="{ borderWidth: border, backgroundColor: getColor(x, z), opacity: 0.4}" @mouseover="updateArea(x, z)" v-on:click="updateArea(x, z)"></div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <script type="text/javascript" src="markdown.min.js"></script>
  <script type="text/javascript" src="utils.js"></script>
  <script type="text/javascript" src="methodsMap.js"></script>
  <script type="text/javascript" src="map.js"></script>
</body>
