
<div style="display: flex; flex: 1; align-items: center; justify-content: center; background-color: #222222; flex-direction: column">
  <%= T(message) %>
  <a href=<%= dest %>><%= T(destLabel) %></a>
</div>
