<div style="background-color: #222222; display: flex; flex: 1; padding: 5px;">
    <% if (route === "home") { %>
        <% include home %>
    <% } %>
    <% if (route === "login") { %>
        <% include login %>
    <% } %>
    <% if (route === "register") { %>
        <% include register %>
    <% } %>
    <% if (route === "map") { %>
        <% include map %>
    <% } %>
    <% if (route === "nations") { %>
        <% include nations %>
    <% } %>
    <% if (route === "redirection") { %>
        <% include redirection %>
    <% } %>
</div>