<div style="max-height: 45px; min-height: 45px; background-color: #552222; display: flex; box-shadow: 0px 2px 2px #222222; z-index: 2; align-items: center; padding-left: 20px;">
    <a href="/lekelner" style="font-weight: bold; color: white; text-decoration: none;">Le Kelner > </a>
    <div style="flex: 1; text-align: right;">
        <a href="/lekelner/login" class="menu">👤 Connexion</a>
        <a href="/lekelner/map" class="menu" target="_blank">Map ⮩</a>
    </div>
</div>