<html>

<head>
  <title>Le Kelner</title>
  <meta charset="UTF-8">
  <script src="vue.min.js"></script>
  <link rel="stylesheet" href="style.css" type="text/css">
</head>

<body>
  <div id="app" class="noselect">
    <div class="colors1" style="display: flex; flex: 1; max-height: 40px; min-height: 40px; box-shadow: 0px 5px 2px #222222; z-index: 2;">
      <button v-on:click="setRoute(button)" style="display: flex; flex: 1; max-width: 100px; align-items: center; justify-content: center; text-shadow: 1px 1px 1px;" v-for="button in navBar">{{navBarTitles[button]}}</button>
    </div>
    <div v-if="route === 'Soutiens'" style="display: flex; flex: 1; overflow: hidden;">
      <div style="display: flex; flex: 1; overflow: auto; flex-direction: column;">
        <div style="min-height: 40px; max-height: 40px; display: flex; flex: 1; background-color: #DDDDDD">hello</div>
      </div>
      <div style="display: flex; flex: 1; overflow: auto; flex-direction: column;">
        <div style="min-height: 40px; max-height: 40px; display: flex; flex: 1; background-color: #DDDDDD">
          hello
        </div>
      </div>
    </div>
    <div v-if="route === 'Nations'" style="display: flex; flex: 1; flex-direction: column; overflow: auto; padding-top: 10px;">
      <div id="nationCnt" v-on:click="setNavNation(nation.id)" v-for="nation in nations" >
        <div v-bind:style="{backgroundColor: nation.color, width: '5px', opacity: 0.7 }"></div>
        <div style="padding: 10px; font-size: 15">
          <div style="text-shadow: 1px 1px 1px white; font-size: 17"><b>{{nation.name}}</b></div>
          <div>Leader : {{nation.player}}</div>
          <div>Habitants: {{nation.inhabitants}}</div>
          <div>Soutiens: {{nation.soutiens}}</div>
        </div>
      </div>
    </div>
    <div v-if="route === 'Nation' && navNation !== null" style="display: flex; flex: 1; flex-direction: column; background-color: #333333; overflow: hidden; margin-top: 10px; margin-bottom: 10px;">
      <div v-bind:style="{ backgroundColor: nation.color, opacity: 0.3, minHeight: '20px', maxHeight: '20px', display: 'flex', flex: 1 }"></div>
      <div style="display: flex; flex: 1; flex-direction: column; overflow: hidden; padding: 20px;">
        <h1>{{nation.name}}</h1>
        <div style="font-size: 20; font-weight: bold;">
          <img v-bind:src="nation.image" style="width: 50; height: 50; display: inline-block;"></img>
          {{nation.player}}
        </div>
        <div>Etendue : {{Math.round(nation.areas.length * 0.178 * 10) / 10}} km2</div>
        <div style="display: flex; flex-direction: column; margin-top: 20px; margin-bottom: 20px; flex: 1; overflow: hidden;">
          <div>
            <button v-on:click="navNationPanel('desc')">Description</button>
            <button v-on:click="navNationPanel('soutiens')">Soutiens</button>
          </div>
          <div v-if="nav.nationPanel === 'desc'" v-html="marked(nation.desc)" style="display: flex; flex: 1; flex-direction: column; padding: 50px; background-color: #444444; overflow: auto;"></div>
          <div v-if="nav.nationPanel === 'soutiens'" style="display: flex; flex: 1; background-color: #444444; flex-direction: column; overflow: auto; padding-top: 5px;">
            <div v-for="soutien in nation.soutiens" style="display: flex; flex: 1; background-color: #330000; border-radius: 10px; padding: 10px; max-height: 50px; min-height: 50px; margin: 5px; flex-direction: row;">
              <img v-bind:src="soutien.image" style="width: 50; height: 50; display: inline-block;"></img>
              <div style="display: flex; flex-direction: column; padding-left: 10px;">
                <div><b>{{soutien.name}}</b></div>
                <div>Rang {{soutien.rank}} dans sa liste d'appuis.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="route === 'Options'" style="display: flex; flex: 1; flex-direction: column; background-color: #333333; overflow: hidden; margin-top: 10px; margin-bottom: 10px; padding: 10px; overflow: auto;">
      <div style="margin: 20px;">
        ptdr t ki ? 
        <select v-model="settings.selectedPlayer" v-on:change="settingsPlayerChange()">
          <option disable value="0">Nouveau joueur</option>
          <option v-for="nation in control" v-bind:value="nation.id">
            {{ nation.player }}
          </option>
        </select>
        (c'est pour charger le profile)
        <hr />
        <h2>🎩 Joueur</h2>
        Nom : <input v-model="settings.name" type="text"></input><br/><br/>
        Lien avatar : <input v-model="settings.image" type="text"></input><br/><br/>
        <div style="height: 80; width: 80; border-style: solid; border-color: #AAAAAA; display: flex; align-items: center">
          <img v-bind:src="settings.image" style="width: 80; display: inline-block;"></img>
        </div><br/><br/>
        Soutiens :
        <div style="display: flex; flex-direction: column; width: 300px; max-height: 200px; overflow: auto;">
          <div v-for="(soutien, idx) in settings.soutiens" style="display: flex; flex: 1; min-height: 30px; max-height: 30px; background-color: #555555; margin-bottom: 1px; align-items: center; overflow: hidden;">
            <button v-on:click="e => settingsEditSoutien(e, 'up', idx)">▲</button><button v-on:click="e => settingsEditSoutien(e, 'del', idx)">❌</button>{{soutien.name}}
          </div>
        </div>
        <select size="1" v-model="settings.toAddSoutien">
          <option>Choisir un joueur</option>
          <option v-for="nation in control" v-bind:value="nation.id">
            {{ nation.player }}
          </option>
        </select>
        <button v-on:click="settingsSoutienAdd">Ajouter</button><br/><br/>
        Nationalité : {{settingsCalc.nation}}
        <hr />
        <h2>🏴 Nation</h2>
        Champs inutiles si vous n'êtes pas leader<br/><br/>
        Nation : <input type="text" v-model="settings.nationName"></input><br/><br/>
        <div style="display: flex; flex-direction: row; align-items: center">Couleur : <input type="text" style="margin-left: 10px; margin-right: 10px;" v-model="settings.color"></input><div style="width: 20px; height: 20px; border-style: solid;" v-bind:style="{backgroundColor: settings.color}"></div></div>
        <br>Description <a href="https://guides.github.com/features/mastering-markdown/" target="_blank">Tuto markdown</a>
        <div style="display: flex; flex: 1; overflow: hidden; min-height: 300px; max-height: 300px;">
          <textarea id="descEditInput" v-model="settings.desc" style="display: flex; flex: 1; flex-direction: column; word-break: break-all; padding: 10px; background-color: white; overflow: auto; resize: none;"></textarea>
          <div v-html="marked(settings.desc)" style="display: flex; flex: 1; flex-direction: column; padding: 10px; background-color: #444444; overflow: auto; padding-left: 10px; padding-right: 10px;"></div>
        </div><br/><br/>
        {{settings.message}}<br/>
        <button v-on:click="settingsSave" style="height: 30px; margin-bottom: 20px;">Sauvegarder ces options</button><br/>
      </div>
    </div>
    <div v-if="route === 'Map'" style="display: flex; flex: 1; padding-top: 10px;">
      <div style="background-color: #333333; min-width: 200px; max-width: 200px; display: flex; flex-direction: column; padding: 10px; box-shadow: 0px 5px 2px #222222; z-index: 1; border-top-left-radius: 10px;">
        <div>(x) <b>{{mouseMap.left}}</b></html></div><div>(z) <b>{{mouseMap.top}}</b></div>
        <div style="margin-top: 10px;">> <b style="text-shadow: 1px 1px 0.3px white" v-bind:style="{color: area.color}">{{area.name}}</b></div>
        <div>Leader : <b>{{area.player}}</b></div>
        <form v-on:submit="searchArea(search.x, search.z, $event)" style="margin-top: 20px; margin-bottom: 20px; display: flex; align-items: center; flex-direction: column;">
          <div style="margin-bottom: 5px;">X<input v-model="search.x" style="width: 80px" type="number"></input>Z<input v-model="search.z" style="width: 80px" type="number"></input></div>
          <button v-on:click="searchArea(search.x, search.z)">Recherche</button>
        </form>
        <button v-on:click="toggleGrid">Grille</button>
        <button v-on:click="toggleControl">Régions</button>
        <button v-on:click="toggleEdit">{{nav.mapEdit?"Sélection terminée":"Déclarer une région"}}</button>
        <div style="font-size: 20px; margin: 5px; margin-top: 10px;">{{message}}</div>
      </div>
      <div id="mapCnt" style="overflow: auto; display: flex; flex: 1;">
        <div id="map" style="min-width: 850px; width: 850px; height: 850px; display: flex; background-image: url('map.png'); background-size: 100% 100%;" @mousemove="updateMouseMap">
          <div style="display: flex; flex: 1; flex-direction: column;" v-for="(line, x) in colors">
            <div style="display: flex; flex: 1; border-width: 1px; border-style: solid; border-color: white;" v-for="(area, z) in line" v-bind:style="{ borderWidth: border, backgroundColor: area, opacity: 0.4}" @mouseover="updateArea(x, z)" v-on:click="updateArea(x, z, true)"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="marked.min.js"></script>
  <script type="text/javascript" src="utils.js"></script>
  <script type="text/javascript" src="methodsMap.js"></script>
  <script type="text/javascript" src="map.js"></script>
</body>
