<html>

<head>
    <title>Le Kelner</title>
    <meta charset="UTF-8">
    <script src="vue.min.js"></script>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>

<body>
  <div id="app" class="noselect">
    <div class="colors1" style="display: flex; flex: 1; max-height: 40px; box-shadow: 0px 5px 2px #222222; z-index: 2; padding-left: 25px; border-radius: 10px;">
      <button v-on:click="setRoute(button)" style="display: flex; flex: 1; max-width: 100px; align-items: center; justify-content: center;" v-for="button in navBar">{{button}}</button>
    </div>
    <div v-if="route === 'Soutiens'" style="display: flex; flex: 1; overflow: hidden;">
      <div style="display: flex; flex: 1; overflow: auto; flex-direction: column;">
        <div style="min-height: 40px; max-height: 40px; display: flex; flex: 1; background-color: #DDDDDD">hello</div>
      </div>
      <div style="display: flex; flex: 1; overflow: auto; flex-direction: column;">
        <div style="min-height: 40px; max-height: 40px; display: flex; flex: 1; background-color: #DDDDDD">
          hello
        </div>
      </div>
    </div>
    <div v-if="route === 'Nations'" style="display: flex; flex: 1; flex-direction: column; overflow: auto; padding-top: 10px;">
      <div id="nationCnt" v-on:click="setNavNation(nation.id)" v-for="nation in nations" >
        <div v-bind:style="{backgroundColor: nation.color, width: '5px', opacity: 0.7 }"></div>
        <div style="padding: 10px;">
          <div style="text-shadow: 1px 1px 1px white;"><b>{{nation.name}}</b></div>
          <div>Leader : {{nation.player}}</div>
          <div>Soutiens: {{nation.soutiens}}</div>
        </div>
      </div>
    </div>
    <div v-if="route === 'Nation' && navNation !== null" style="display: flex; flex: 1; flex-direction: column; background-color: #333333; border-radius: 20px; overflow: hidden; margin-top: 10px; margin-bottom: 10px;">
      <div v-bind:style="{ backgroundColor: nation.color, opacity: 0.3, minHeight: '20px', maxHeight: '20px', display: 'flex', flex: 1 }"></div>
      <div style="display: flex; flex: 1; flex-direction: column; overflow: hidden; padding: 20px;">
        <h1>{{nation.name}}</h1>
        <div>Leader : {{nation.player}}</div>
        <div>Etendue : {{Math.round(nation.areas.length * 0.178 * 10) / 10}} km2</div>
        <div style="display: flex; flex-direction: column; margin-top: 20px; margin-bottom: 20px; flex: 1; overflow: hidden;">
          <div><button v-on:click="navNationPanel('desc')">Description</button><button v-on:click="navNationPanel('soutiens')">Soutiens</button><button v-on:click="navNationPanel('descEdit')" v-bind:style="{color: nav.nationPanel==='descEdit'?'#FFAA00':'white'}">{{nav.nationPanel!=="descEdit"?"Editer la description":"Sauvegarder"}}</button></div>
          <div v-if="nav.nationPanel === 'desc'" v-html="marked(nation.description)" style="display: flex; flex: 1; flex-direction: column; padding: 50px; background-color: #444444; overflow: auto;"></div>
          <div v-if="nav.nationPanel === 'descEdit'" style="margin: 10px;">Pour modifier la description de votre nation, éditer ici puis sauvegarder le fichier et l'uploader dans #territoires sur Discord. <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank"> => Tuto Markdown 🔗</a></div>
          <div v-if="nav.nationPanel === 'descEdit'" style="display: flex; flex: 1; overflow: hidden;">
            <textarea id="descEditInput" v-model="descEdit" style="display: flex; flex: 1; flex-direction: column; word-break: break-all; padding: 10px; background-color: white; overflow: auto; resize: none;"></textarea>
            <div v-html="marked(descEdit)" style="display: flex; flex: 1; flex-direction: column; padding: 10px; background-color: #444444; overflow: auto; padding-left: 10px; padding-right: 10px;"></div>
          </div>
          <div v-if="nav.nationPanel === 'soutiens'" style="display: flex; flex: 1; background-color: #444444; flex-direction: column; overflow: auto; padding-top: 5px;">
            <div v-for="soutien in nation.soutiens" style="display: flex; flex: 1; backgroundColor: #330000; border-radius: 10px; padding: 10px; max-height: 50px; min-height: 50px; margin: 5px; flex-direction: column;">
              <div><b>{{soutien.name}}</b></div>
              <div>Rang {{soutien.rank}} dans sa liste d'appuis.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="route === 'Map'" style="display: flex; flex: 1; padding-top: 10px;">
        <div style="background-color: #333333; min-width: 200px; max-width: 200px; display: flex; flex-direction: column; padding: 10px; box-shadow: 0px 5px 2px #222222; z-index: 1; border-top-left-radius: 10px;">
            <div>X: <b>{{mouseMap.left}}</b>, Z: <b>{{mouseMap.top}}</b></div>
            <div>{{"Zone : " + area.x + ", " + area.z}}</div>
            <form v-on:submit="searchArea(search.x, search.z, $event)" style="margin-top: 10px; margin-bottom: 10px; display: flex; align-items: center; flex-direction: column;">
              <div style="margin-bottom: 5px;">X<input v-model="search.x" style="width: 80px" type="number"></input>Z<input v-model="search.z" style="width: 80px" type="number"></input></div>
              <button v-on:click="searchArea(search.x, search.z)">Recherche</button>
            </form>
            <div style="display: flex; flex: 1; max-height: 70px; flex-direction: column;">
              <div style="display: flex; flex-direction: row; align-items: center; min-height: 40px;"><div style="min-width: 20px; min-height: 20px; border-style: solid; margin: 5px;" v-bind:style="{backgroundColor: area.color}"></div><b>{{area.name}}</b></div>
              <div>Leader : <b>{{area.player}}</b></div>
            </div>
            <button v-on:click="toggleGrid">Grille</button>
            <button v-on:click="toggleControl">Régions</button>
            <button v-on:click="toggleEdit">{{nav.mapEdit?"Sélection terminée":"Déclarer une région"}}</button>
            <div style="font-size: 20px; margin: 5px; margin-top: 10px;">{{message}}</div>
        </div>
        <div id="mapCnt" style="overflow: auto; display: flex; flex: 1;">
            <div id="map" style="min-width: 850px; width: 850px; height: 850px; display: flex; background-image: url('map.png'); background-size: 100% 100%;"
                @mousemove="updateMouseMap">
                <div style="display: flex; flex: 1; flex-direction: column;" v-for="(line, x) in colors">
                    <div style="display: flex; flex: 1; border-width: 1px; border-style: solid; border-color: white;" v-for="(area, z) in line" v-bind:style="{ borderWidth: border, backgroundColor: area, opacity: 0.4}" @mouseover="updateArea(x, z)" v-on:click="updateArea(x, z, true)"></div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <script src="marked.min.js"></script>
  <script type="text/javascript" src="utils.js"></script>
  <script type="text/javascript" src="methodsMap.js"></script>
  <script type="text/javascript" src="map.js"></script>
</body>
