[
  [
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0"
  ],
  [
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0"
  ],
  [
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0"
  ],
  [
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "p",
    "p",
    "p",
    "p",
    "0",
    "0",
    "0",
    "q",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0"
  ],
  [
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "p",
    "p",
    "p",
    "p",
    "p",
    "0",
    "0",
    "q",
    "q",
    "q",
    "q",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0"
  ],
  [
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "k",
    "k",
    "k",
    "0",
    "0",
    "p",
    "p",
    "p",
    "p",
    "p",
    "q",
    "q",
    "q",
    "q",
    "q",
    "q",
    "q",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0"
  ],
  [
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "f",
    "0",
    "0",
    "0",
    "k",
    "k",
    "k",
    "k",
    "k",
    "k",
    "p",
    "p",
    "p",
    "q",
    "q",
    "q",
    "q",
    "q",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0"
  ],
  [
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "f",
    "f",
    "f",
    "f",
    "f",
    "k",
    "k",
    "k",
    "k",
    "k",
    "r",
    "r",
    "r",
    "r",
    "r",
    "0",
    "q",
    "q",
    "0",
    "0",
    "w",
    "w",
    "w",
    "w",
    "w",
    "w",
    "0",
    "0",
    "w",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0"
  ],
  [
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "f",
    "f",
    "f",
    "f",
    "f",
    "4",
    "4",
    "4",
    "k",
    "k",
    "r",
    "r",
    "r",
    "r",
    "r",
    "N",
    "0",
    "0",
    "0",
    "0",
    "0",
    "w",
    "w",
    "w",
    "w",
    "0",
    "0",
    "w",
    "w",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0"
  ],
  [
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "f",
    "f",
    "e",
    "e",
    "e",
    "4",
    "4",
    "4",
    "k",
    "s",
    "s",
    "r",
    "r",
    "r",
    "N",
    "N",
    "N",
    "N",
    "0",
    "w",
    "w",
    "w",
    "w",
    "w",
    "w",
    "w",
    "w",
    "w",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0"
  ],
  [
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "d",
    "f",
    "f",
    "e",
    "e",
    "e",
    "e",
    "4",
    "4",
    "4",
    "7",
    "s",
    "s",
    "s",
    "s",
    "s",
    "N",
    "N",
    "N",
    "N",
    "N",
    "w",
    "w",
    "w",
    "w",
    "x",
    "w",
    "w",
    "w",
    "w",
    "0",
    "z",
    "z",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0"
  ],
  [
    "0",
    "0",
    "b",
    "0",
    "0",
    "0",
    "d",
    "d",
    "d",
    "d",
    "e",
    "3",
    "3",
    "4",
    "4",
    "1",
    "7",
    "7",
    "7",
    "s",
    "s",
    "s",
    "N",
    "N",
    "N",
    "N",
    "t",
    "v",
    "v",
    "v",
    "v",
    "x",
    "x",
    "x",
    "x",
    "0",
    "z",
    "z",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0"
  ],
  [
    "0",
    "0",
    "b",
    "b",
    "0",
    "0",
    "d",
    "d",
    "d",
    "d",
    "3",
    "3",
    "3",
    "2",
    "1",
    "1",
    "7",
    "7",
    "7",
    "s",
    "s",
    "s",
    "t",
    "t",
    "t",
    "t",
    "t",
    "v",
    "v",
    "v",
    "v",
    "x",
    "x",
    "x",
    "x",
    "0",
    "z",
    "z",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0"
  ],
  [
    "0",
    "0",
    "b",
    "b",
    "d",
    "d",
    "d",
    "d",
    "3",
    "3",
    "3",
    "2",
    "2",
    "2",
    "1",
    "1",
    "7",
    "7",
    "7",
    "o",
    "o",
    "s",
    "t",
    "t",
    "t",
    "t",
    "t",
    "v",
    "v",
    "v",
    "y",
    "y",
    "x",
    "x",
    "x",
    "x",
    "z",
    "z",
    "z",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0"
  ],
  [
    "0",
    "0",
    "0",
    "b",
    "b",
    "b",
    "b",
    "0",
    "3",
    "3",
    "3",
    "2",
    "2",
    "1",
    "1",
    "1",
    "7",
    "7",
    "7",
    "o",
    "o",
    "o",
    "t",
    "t",
    "t",
    "u",
    "u",
    "v",
    "v",
    "y",
    "y",
    "y",
    "y",
    "y",
    "y",
    "y",
    "z",
    "z",
    "z",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0"
  ],
  [
    "0",
    "0",
    "0",
    "0",
    "b",
    "b",
    "a",
    "a",
    "6",
    "6",
    "6",
    "6",
    "2",
    "5",
    "5",
    "5",
    "7",
    "7",
    "o",
    "o",
    "o",
    "o",
    "0",
    "0",
    "u",
    "u",
    "u",
    "u",
    "0",
    "y",
    "y",
    "y",
    "y",
    "y",
    "y",
    "y",
    "z",
    "z",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0"
  ],
  [
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "a",
    "a",
    "6",
    "6",
    "6",
    "6",
    "5",
    "5",
    "5",
    "5",
    "5",
    "9",
    "o",
    "o",
    "o",
    "o",
    "o",
    "0",
    "u",
    "u",
    "u",
    "u",
    "u",
    "B",
    "B",
    "B",
    "B",
    "y",
    "y",
    "y",
    "z",
    "z",
    "A",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0"
  ],
  [
    "0",
    "0",
    "0",
    "0",
    "0",
    "a",
    "a",
    "a",
    "6",
    "6",
    "6",
    "8",
    "8",
    "8",
    "8",
    "8",
    "9",
    "9",
    "n",
    "n",
    "o",
    "o",
    "n",
    "0",
    "0",
    "0",
    "u",
    "u",
    "B",
    "B",
    "B",
    "B",
    "B",
    "B",
    "C",
    "C",
    "C",
    "A",
    "A",
    "A",
    "A",
    "A",
    "0",
    "0",
    "0",
    "0",
    "0"
  ],
  [
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "a",
    "a",
    "6",
    "6",
    "0",
    "8",
    "8",
    "8",
    "8",
    "9",
    "9",
    "l",
    "l",
    "n",
    "n",
    "n",
    "n",
    "n",
    "m",
    "m",
    "m",
    "0",
    "0",
    "B",
    "B",
    "B",
    "B",
    "B",
    "C",
    "C",
    "C",
    "A",
    "A",
    "A",
    "A",
    "A",
    "A",
    "0",
    "0",
    "0",
    "0"
  ],
  [
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "a",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "9",
    "l",
    "l",
    "l",
    "l",
    "n",
    "n",
    "n",
    "n",
    "m",
    "m",
    "m",
    "m",
    "0",
    "B",
    "B",
    "B",
    "B",
    "B",
    "C",
    "C",
    "F",
    "F",
    "A",
    "A",
    "A",
    "A",
    "A",
    "0",
    "0",
    "0",
    "0"
  ],
  [
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "g",
    "0",
    "0",
    "l",
    "l",
    "l",
    "l",
    "l",
    "l",
    "m",
    "0",
    "0",
    "m",
    "0",
    "0",
    "B",
    "B",
    "B",
    "C",
    "C",
    "C",
    "F",
    "F",
    "F",
    "F",
    "F",
    "F",
    "F",
    "F",
    "0",
    "0",
    "0"
  ],
  [
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "c",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "g",
    "0",
    "0",
    "0",
    "0",
    "0",
    "l",
    "l",
    "l",
    "0",
    "0",
    "0",
    "0",
    "0",
    "D",
    "D",
    "D",
    "D",
    "D",
    "D",
    "D",
    "F",
    "F",
    "F",
    "F",
    "F",
    "F",
    "F",
    "F",
    "0",
    "0",
    "0"
  ],
  [
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "c",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "g",
    "g",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "E",
    "D",
    "D",
    "D",
    "D",
    "D",
    "D",
    "D",
    "F",
    "F",
    "F",
    "F",
    "F",
    "F",
    "F",
    "F",
    "0",
    "0",
    "0"
  ],
  [
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "c",
    "c",
    "c",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "g",
    "g",
    "g",
    "g",
    "g",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "E",
    "E",
    "E",
    "E",
    "D",
    "G",
    "G",
    "G",
    "G",
    "H",
    "H",
    "H",
    "H",
    "H",
    "H",
    "0",
    "0",
    "0",
    "0",
    "0"
  ],
  [
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "c",
    "c",
    "c",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "i",
    "g",
    "g",
    "i",
    "0",
    "0",
    "0",
    "0",
    "0",
    "E",
    "E",
    "E",
    "E",
    "G",
    "G",
    "G",
    "G",
    "G",
    "H",
    "H",
    "H",
    "H",
    "H",
    "H",
    "0",
    "0",
    "0",
    "0",
    "0"
  ],
  [
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "c",
    "c",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "i",
    "i",
    "i",
    "i",
    "i",
    "i",
    "0",
    "0",
    "0",
    "E",
    "E",
    "E",
    "E",
    "I",
    "I",
    "G",
    "K",
    "K",
    "K",
    "L",
    "L",
    "L",
    "H",
    "H",
    "H",
    "0",
    "0",
    "0",
    "0",
    "0"
  ],
  [
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "i",
    "i",
    "i",
    "i",
    "i",
    "0",
    "0",
    "0",
    "E",
    "E",
    "E",
    "E",
    "E",
    "I",
    "I",
    "K",
    "K",
    "K",
    "K",
    "L",
    "L",
    "L",
    "0",
    "L",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0"
  ],
  [
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "i",
    "j",
    "j",
    "j",
    "j",
    "j",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "I",
    "I",
    "I",
    "K",
    "K",
    "K",
    "K",
    "L",
    "L",
    "L",
    "L",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0"
  ],
  [
    "0",
    "0",
    "0",
    "0",
    "0",
    "h",
    "h",
    "h",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "j",
    "j",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "I",
    "I",
    "K",
    "K",
    "K",
    "M",
    "M",
    "M",
    "L",
    "L",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0"
  ],
  [
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "h",
    "h",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "j",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "I",
    "I",
    "K",
    "M",
    "M",
    "M",
    "M",
    "M",
    "L",
    "L",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0"
  ],
  [
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "j",
    "j",
    "j",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "I",
    "0",
    "0",
    "0",
    "M",
    "M",
    "M",
    "M",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0"
  ],
  [
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "j",
    "j",
    "j",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "M",
    "M",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0"
  ],
  [
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "j",
    "j",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "M",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0"
  ],
  [
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0"
  ],
  [
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0",
    "0"
  ]
]
