<html>
  <head>
    <title>Le Kelner</title>
    <link rel="stylesheet" href="/lekelner/styles" />
  </head>

  <body>
    <% if (route === "404") { %> <%- include ('error') %> <% } %>
    <% if (route === "edifice") { %> <%- include ('resources/edifice') %> <% } %>
    <% if (route === "region") { %> <%- include ('resources/region') %> <% } %>
  </body>
</html>
