{
  "1": {
    "n": "Anduin"
  },
  "2": {
    "n": "Marais du Palûmortem"
  },
  "3": {
    "n": "Rives-Mortes"
  },
  "4": {
    "n": "Pointe d'Honneur"
  },
  "5": {
    "n": "L'Enclave"
  },
  "6": {
    "n": "Pays Austre"
  },
  "7": {
    "n": "Irrilande"
  },
  "8": {
    "n": "Côtes Franches"
  },
  "9": {
    "n": "L'Estocade"
  },
  "a": {
    "n": "Flanc d'Occident"
  },
  "b": {
    "n": "Archipel du Nord"
  },
  "c": {
    "n": "Hydropelagos"
  },
  "d": {
    "n": "Couronne d'Austre"
  },
  "e": {
    "n": "Déclin"
  },
  "f": {
    "n": "Suidalie"
  },
  "g": {
    "n": "Ceinturée"
  },
  "h": {
    "n": "Île de la Chandeleur"
  },
  "i": {
    "n": "Fierté Nord"
  },
  "j": {
    "n": "Fierté Sud"
  },
  "k": {
    "n": "Nevelande"
  },
  "l": {
    "n": "Midi"
  },
  "m": {
    "n": "Pointe Salvatrice"
  },
  "n": {
    "n": "Pays Nymphosien"
  },
  "o": {
    "n": "Les Fluxées"
  },
  "p": {
    "n": "Ark"
  },
  "q": {
    "n": "Sápmi"
  },
  "r": {
    "n": "Himmelsrand"
  },
  "s": {
    "n": "Rohan"
  },
  "t": {
    "n": "La Sierra Nevada"
  },
  "u": {
    "n": "La Garde"
  },
  "v": {
    "n": "Roches Cernées"
  },
  "w": {
    "n": "Nords d'Etrennes"
  },
  "x": {
    "n": "Animisée"
  },
  "y": {
    "n": "Sables d'Animisée"
  },
  "z": {
    "n": "Flanc-Est"
  },
  "A": {
    "n": "Mesa Suffit"
  },
  "B": {
    "n": "Pyronèse"
  },
  "C": {
    "n": "Lit-de-Nil"
  },
  "D": {
    "n": "Désert d'Outre-Nil"
  },
  "E": {
    "n": "Auvergne"
  },
  "F": {
    "n": "Salines"
  },
  "G": {
    "n": "Creuse-Vente"
  },
  "H": {
    "n": "Sauce"
  },
  "I": {
    "n": "Premier-Rempart"
  },
  "K": {
    "n": "Vallées Promises"
  },
  "L": {
    "n": "Ménisque"
  },
  "M": {
    "n": "Sudanne"
  },
  "N": {
    "n": "Baie-Illumine"
  },
  "O": {
    "n": "Lambé",
    "suze": "8",
    "city": {
      "coor": [-382, 3151],
      "tag": "LAM",
      "governor": 261130483667173376
    }
  },
  "P": {
    "n": "Edoras",
    "suze": "4",
    "city": { "coor": [1309, -715], "tag": "EDO" }
  },
  "Q": {
    "n": "Hydropolis",
    "suze": "c",
    "city": { "coor": [-2602, 6234], "tag": "HYD" }
  },
  "R": {
    "n": "Erzengrad",
    "suze": "f",
    "city": { "coor": [-1325, -1370], "tag": "ERZ" }
  },
  "S": {
    "n": "Grave",
    "suze": "e",
    "city": { "coor": [-57, -599], "tag": "GRA" }
  },
  "T": {
    "n": "Aqualonn",
    "suze": "g",
    "city": { "coor": [3647, 6161], "tag": "AQU" }
  },
  "U": {
    "n": "Heimsgard",
    "suze": "f",
    "city": { "coor": [-1347, -1647], "tag": "HEI" }
  },
  "V": {
    "n": "Forgefer",
    "suze": "e",
    "city": { "coor": [-1008, -211], "tag": "FOR" }
  },
  "W": {
    "n": "Mourmansk",
    "suze": "w",
    "city": { "coor": [8515, -880], "tag": "MOU" }
  },
  "X": {
    "n": "Хэншадао",
    "suze": "h",
    "city": { "coor": [-2662, 8390], "tag": "HEN" }
  },
  "Y": {
    "n": "Bismuth",
    "suze": "4",
    "city": { "coor": [957, -568], "tag": "BIS" }
  }
}
